* { box-sizing: border-box; font-family: Arial, sans-serif; text-align: center;}

body { margin: 0; background: #fdfdfd; }

.container { display: block; }

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #f1c40f;
    min-height: 100vh;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
.logo { 
     width: 200px;
     display: block;
     margin-left: -15px; 
     margin-bottom: -15px;
    }

.sidebar h2 { text-align: center; }

.sidebar ul { list-style: none; padding: 0; }
.sidebar ul {
    padding: 0;
}

.sidebar li {
    list-style: none;
    margin: 12px 0;
}

/* BUTTON STYLE */
.sidebar-btn {
    display: block;
    padding: 12px;
    background: #f7d65a;
    border-radius: 10px;
    text-align: center;

    /* IMPORTANT PART */
    text-decoration: none;   /* tanggal underline */
    color: #000;             /* tanggal blue */
    font-weight: 600;

    cursor: pointer;
}

/* HOVER EFFECT */
.sidebar-btn:hover {
    background: #ffffff;
}

/* ACTIVE PAGE */
.sidebar-btn.active {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.admin { margin-top: 30px; text-align: center; }

/* MAIN */
.main {
    margin-left: 220px;
    flex: 1;
    padding: 25px;
}


.title {
    color: #f1c40f;
    margin-bottom: 15px;
}

/* ERT */
.ert-row {
    display: flex;
    gap: 15px;
    background: #f7dc6f;
    padding: 20px;
    border-radius: 20px;
}

.ert-card {
    text-align: center;
    width: 120px;
}

.photo {
    height: 80px;
    background: #fff6cc;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* VISION MISSION */
.vm-box {
    display: flex;
    gap: 20px;
    background: #f7dc6f;
    padding: 20px;
    border-radius: 30px;
    margin: 30px 0;
}

.vm-card {
    background: #fff6cc;
    padding: 20px;
    border-radius: 20px;
    flex: 1;
}

/* POLICY */
.policy {
    background: #f7dc6f;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.policy p {
    text-align: left;
}
/* TWO BOX */
.two-box {
    display: flex;
    gap: 30px;
}

.box {
    flex: 1;
    height: 200px;
    background: #f7dc6f;
    border-radius: 10px;
    padding: 15px;
}

/* MILESTONE */
.milestone {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #f7dc6f;
    padding: 20px;
    border-radius: 15px;
}

.milestone-img {
    width: 120px;
    height: 80px;
    background: #fff6cc;
    border-radius: 8px;
}

.arrow {
    font-size: 40px;
    margin-left: auto;
}
