* { box-sizing: border-box; font-family: Arial, sans-serif; }

body { margin: 0; background: #fdfdfd; }

.container { display: block; }

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #f1c40f;
    min-height: 100vh;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
.logo { 
     width: 200px;
     display: block;
     margin-left: -15px; 
     margin-bottom: -15px;
    }

.sidebar h2 { text-align: center; }

.sidebar ul { list-style: none; padding: 0; }
.sidebar ul {
    padding: 0;
}

.sidebar li {
    list-style: none;
    margin: 12px 0;
}

/* BUTTON STYLE */
.sidebar-btn {
    display: block;
    padding: 12px;
    background: #f7d65a;
    border-radius: 10px;
    text-align: center;

    /* IMPORTANT PART */
    text-decoration: none;   /* tanggal underline */
    color: #000;             /* tanggal blue */
    font-weight: 600;

    cursor: pointer;
}

/* HOVER EFFECT */
.sidebar-btn:hover {
    background: #ffffff;
}

/* ACTIVE PAGE */
.sidebar-btn.active {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.admin { margin-top: 30px; text-align: center; }

/* MAIN */
.main {
    margin-left: 220px; /* 220 + konting allowance */
    padding: 20px;
 }

.header {
    background: #f7dc6f;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(71, 50, 33);
    margin-bottom: 20px;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.card {
    background: #f7dc6f;
    padding: 50px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-weight: bold;
}
.card span { 
    font-size: 50px; 
    font-weight: bold;
    color: white;
 }

/* PANELS */
.panel {
    background: #f7dc6f;
    margin-top: 20px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.panels {
    background: #f7dc6f;
    margin-top: 20px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}
th, td {
    border: 1px solid #d4ac0d;
    padding: 8px;
    text-align: center;
}
th { background: #f1c40f; }
