* { box-sizing: border-box; font-family: Arial, sans-serif; text-align: center;}

body { margin: 0; background: #fdfdfd; }

.container { display: block; }

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #f1c40f;
    min-height: 100vh;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
.logo { 
     width: 200px;
     display: block;
     margin-left: -15px; 
     margin-bottom: -15px;
    }

.sidebar h2 { text-align: center; }

.sidebar ul { list-style: none; padding: 0; }
.sidebar ul {
    padding: 0;
}

.sidebar li {
    list-style: none;
    margin: 12px 0;
}

/* BUTTON STYLE */
.sidebar-btn {
    display: block;
    padding: 12px;
    background: #f7d65a;
    border-radius: 10px;
    text-align: center;

    /* IMPORTANT PART */
    text-decoration: none;   /* tanggal underline */
    color: #000;             /* tanggal blue */
    font-weight: 600;

    cursor: pointer;
}

/* HOVER EFFECT */
.sidebar-btn:hover {
    background: #ffffff;
}

/* ACTIVE PAGE */
.sidebar-btn.active {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.admin { margin-top: 30px; text-align: center; }

/* MAIN */
.main {
    margin-left: 220px;
    flex: 1;
    padding: 25px;
}

/* TOP BUTTONS */
.top-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.cert-btn {
    background: #f5dd7c;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none; 
    color: #000;
    cursor: pointer;
    box-shadow: 0 6px 0 #c9a000;
}

.acc-btn {
    background: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none; 
    color: #000;
    cursor: pointer;
    box-shadow: 0 6px 0 #c9a000;
}

.cert-btn.active {
    background: #f1c40f;
}

.cert-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #c9a000;
}

.acc-btn.active {
    background: #f1c40f;
}

.acc-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #c9a000;
}

.add-btn {
    margin-left: auto;
    background: #f1c40f;
    border: none;
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;

    box-shadow: 0 6px 0 #c9a000;
}

.add-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #c9a000;
}

/* CARD */
.card {
    background: #f7dc6f;
    padding: 25px;
    border-radius: 15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-header input {
    padding: 6px;
    width: 220px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    border: 1px solid #d4ac0d;
    padding: 10px;
    text-align: center;
}

th {
    background: #f1c40f;
}

.action {
    font-size: 18px;
    cursor: pointer;
}
