* { box-sizing: border-box; font-family: Arial, sans-serif; text-align: center;}

body { margin: 0; background: #fdfdfd; }

.container { display: block; }

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #f1c40f;
    min-height: 100vh;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
.logo { 
     width: 200px;
     display: block;
     margin-left: -15px; 
     margin-bottom: -15px;
    }

.sidebar h2 { text-align: center; }

.sidebar ul { list-style: none; padding: 0; }
.sidebar ul {
    padding: 0;
}

.sidebar li {
    list-style: none;
    margin: 12px 0;
}

/* BUTTON STYLE */
.sidebar-btn {
    display: block;
    padding: 12px;
    background: #f7d65a;
    border-radius: 10px;
    text-align: center;

    /* IMPORTANT PART */
    text-decoration: none;   /* tanggal underline */
    color: #000;             /* tanggal blue */
    font-weight: 600;

    cursor: pointer;
}

/* HOVER EFFECT */
.sidebar-btn:hover {
    background: #ffffff;
}

/* ACTIVE PAGE */
.sidebar-btn.active {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.admin { margin-top: 30px; text-align: center; }

/* MAIN */
.main {
    margin-left: 220px;
    flex: 1;
    padding: 25px;
}

/* TOP BUTTONS */
.top-buttons {
    display: flex;
    gap: 200px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.btn {
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn.gold {
    background: #e8c84f;
}

.btn.white {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* CARD */
.card {
    background: #f8e17a;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* SUMMARY */
.summary-content {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    height: 300px;
}

.chart-placeholder {
    flex: 1;
    background: #fff3c4;
    border-radius: 15px;

}

.day-box h3 {
    margin-bottom: -10px;
    margin-top: -1px;
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
}

.day-box {
    flex: 1;
    background: #f5d45c;
    border-radius: 15px;
    padding: 15px;
}

.day-box ul {
    list-style: none;
    margin-top: 10px;
}

.day-box li {
    display: flex;
    justify-content: space-between;
    margin-bottom: -18px;
    margin-top: 25px;
}

.day-box span {
    font-weight: bold;
    background: #fff3c4;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
}

/* TABLE */
.table-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-top input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 250px;
}

.filter {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border: 1px solid #e0c34f;
    text-align: center;
}

th {
    background: #f3cf4f;
}

/* BUTTON */
.investigate {
    display: block;
    margin: 20px auto;
    padding: 12px 40px;
    background: #f2c200;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.report-btn {
    display: block;
    padding: 12px;
    width: 300px;
    margin-left: 450px;
    margin-top: 35px;
    background: #f7d65a;
    border-radius: 10px;
    text-align: center;

    /* IMPORTANT PART */
    text-decoration: none;   /* tanggal underline */
    color: #000;             /* tanggal blue */
    font-weight: 600;

    cursor: pointer;
}