<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Employer's Work Accident / Illness Report</title>
<link rel="stylesheet" href="{{ url_for('static', filename='investigation.css') }}">
</head>
<body>

<div class="container">

    <!-- SIDEBAR -->
     <aside class="sidebar">
        <img src="{{ url_for('static', filename='image/hazard_logo.png') }}" class="logo">
        <h2>HAZARD HUB</h2>

        <ul class="menu">
            <li class="active">
                <a href="{{ url_for('dashboard') }}" class="sidebar-btn">Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('incident_report') }}" class="sidebar-btn">Report</a>
            </li>
            <li>
                 <a href="{{ url_for('fire_exti') }}" class="sidebar-btn">Fire Protection</a>
            </li>
            <li>
                 <a href="{{ url_for('concern') }}" class="sidebar-btn">Concern</a>
            </li>
            <li>
                 <a href="{{ url_for('file_page') }}" class="sidebar-btn">File</a>
            </li>
            <li>
                 <a href="{{ url_for('about') }}" class="sidebar-btn">About Us</a>
            </li>
        </ul>

        <div class="admin">
            ADMIN 👤
        </div>
    </aside>

    <!-- MAIN -->
    <main class="main">

        <a href="{{ url_for('incident_report') }}" class="btn back-btn">
        Back
        </a>

        <h1>EMPLOYER'S WORK ACCIDENT / ILLNESS REPORT</h1>

        <form>

        <!-- EMPLOYER -->
        <div class="section">
            <div class="section-title">Employer</div>

            <label>Establishment: <span>Clarmil Manufacturing Inc.</span></label>
            <label>Address: <span>#0001 Barangay Mamatid, Cabuyao City, Laguna</span></label>

                <div>
                    <label>Nature of Business: <span>Food Manufacturing</span></label>
                </div>
                <div>
                    <label>Name of Employer: <span>Eleonor De Lara</span></label>
                </div>
                <div>
                    <label>Nationality: <span>Filipino</span></label>
                </div>
                <div class="row">
                    <div>
                        <label>No. of Employees: </label>
                    </div>
                    <div>
                        <label>Male:</label>
                        <input type="text">
                    </div>
                     <div>
                        <label>Female:</label>
                        <input type="text">
                    </div>
                     <div>
                        <label>Total:</label>
                        <input type="text">
                    </div>
                </div>
        </div>

        <!-- INJURED -->
        <div class="section">
            <div class="section-title">Injured / Illness Person</div>

                <div>
                    <label>Name:</label>
                    <input type="text">
                </div>
                <div class="row">
                <div>
                    <label>Age:</label>
                    <input type="number">
                </div>
                <div>
                    <label>Sex:</label>
                    <select><option>Male</option><option>Female</option></select>
                </div>
                <div>
                    <label>Civil Status:</label>
                    <select><option>Single</option><option>Marriage</option></select>
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Employment Status:</label>
                    <select><option>Regular</option><option>Contractual</option></select>
                </div>
                <div>
                    <label>Employee ID:</label>
                    <input type="text">
                </div>
            </div>
                <div>
                    <label>   Affliated Organization :
                        ( Company /Agency Name )</label>
                    <input type="text">
                </div>
                <div>
                    <label>Date Hired::</label>
                    <input type="date">
                </div>

            <div class="row">
                <div>
                    <label>Division / Section </label>
                    <input type="text">
                </div>
                <div>
                    <label>Position / Designation :</label>
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div>
                    <label>Immediate Superior :</label>
                    <input type="text">
                </div>
                <div>
                    <label>Position of Immediate Superior  :</label>
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div>
                    <label>Average Weekly Wage : </label>
                    <input type="text">
                </div>
                <div>
                    <label>No. of Dependend :</label>
                    <input type="text">
                </div>
            </div>
                <div>
                    <label>Length of service prior to accident or illness :</label>
                    <input type="text">
                </div>

            <div class="row">
                <div>
                    <label>Occupation : </label>
                    <input type="text">
                </div>
                <div>
                    <label>Year of Experience at Occupation :</label>
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div>
                    <label>Work Shift Start : </label>
                    <input type="text">
                </div>
                <div>
                    <label>Work Shift End :</label>
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div>
                    <label>Hours of Work/Day : </label>
                    <input type="text">
                </div>
                <div>
                    <label>Day/Week : </label>
                    <input type="text">
                </div>
            </div>

        </div>

        <!-- ILLNESS -->
        <div class="section">
            <div class="section-title">Illness</div>

            <label>Reportable Illness:</label>
            <input type="text">

                <div>
                    <label>If reported illness is COVID-19, was it fatal?
                        <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                    </label>
                </div>

                <div>
                    <label>Affected Worker’s Work Location :</label>
                    <select>
                        <option>Physically Reporting to Work</option>
                        <option>In Alternative Work Arrangement</option>
                        <option>Hybrid/Combination</option>
                    </select>
                </div>

                <div class="row">
                    <div>
                        <label>Date Illness Began:</label>
                        <input type="date">
                    </div>
                    <div>
                        <label>Date Returned to Work:</label>
                        <input type="date">
                    </div>
                </div>

                <div class="row">
                    <div>
                        <label>Day Lost :</label>
                        <input type="text">
                    </div>
                    <div>
                        <label>and/or Day Charged :</label>
                        <input type="text">
                    </div>
                </div>
        </div>

        <!-- ACCIDENT -->
        <div class="section">
            <div class="section-title">Accident</div>

            <div class="row">
                <div>
                    <label>Date of Accident:</label>
                    <input type="date">
                </div>
                <div>
                    <label>Time:</label>
                    <input type="time">
                </div>
            </div>

            <label>Location of Accident:</label>
            <input type="text">
            <div>
                <label>Affected Worker’s Work Location :</label>
                    <select>
                        <option>Personal Injury</option>
                        <option>Property/Equipment Damage</option>
                        <option>Illness</option>
                        <option>Vehicle</option>
                        <option>Environment</option>
                        <option>Fire</option>
                        <option>Thief</option>
                        <option>Sabotage</option>
                        <option>External Assessment</option>
                        <option>Explosives Involved</option>
                        <option>Radiation</option>
                        <option>Near Miss</option>
                        <option>Other</option>
                    </select>
            </div>

            <label>If other, pls specify</label>
            <input type="text">

            <label>Description of Accident:</label>
            <textarea></textarea>

            <label>Was injured doing regular part of job at the time of accident :</label>
            <input type="text">

            <label>If not, Why?</label>
            <textarea></textarea>
        </div>

               <!-- Nature & Extend of Injury/ies -->
        <div class="section">
            <div class="section-title">Nature & Extend of Injury/ies</div>

            <div>
                <label>Extend of Disability :</label>
                    <select>
                        <option>Medical Treatment</option>
                        <option>Fatal</option>
                        <option>Permanent Partial</option>
                        <option>Temporary Total</option>
                        <option>Permanent Total</option>
                    </select>
            </div>

            <div>
                <label>Nature of Injury :</label>
                    <select>
                        <option>Fractures</option>
                        <option>Dislocations</option>
                        <option>Prains and Strains</option>
                        <option>Concussions and Other Internal Injuries</option>
                        <option>Amputations and  Enucleations</option>
                        <option>Other wounds</option>
                        <option>Superficial injuries</option>
                        <option>Contusions and  crushing</option>
                        <option>Burns</option>
                        <option>Acute poisonings</option>
                        <option>Effects of weather  exposure, and related  conditions</option>
                        <option>Asphyxia</option>
                        <option>Effects of electric  currents</option>
                        <option> Effects of radiations</option>
                        <option> Multiple injuries of different nature</option>
                        <option> Other and unspecified  injuries</option>
                    </select>
            </div>

            <div>
                <label>Type of Contact : </label>
                    <select>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
            </div>

            <div>
                    <label>Part/s of Body Affected </label>
            </div>

            <div class="rows">
                <div class="columns">
                    <div>
                        <label>Head </label>
                        <input type="checkbox">
                     </div>
                    <div>
                        <label>Front Neck </label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Back Neck </label>
                        <input type="checkbox">
                    </div>
                </div>

                <div class="columns">
                    <div>
                        <label>Chest </label>
                        <input type="checkbox">
                     </div>
                    <div>
                        <label>Abdomen</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Upper Back</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Lower Back</label>
                        <input type="checkbox">
                    </div>
                </div>

                <div class="columns">
                    <div>
                        <label>Left Arm</label>
                        <input type="checkbox">
                     </div>
                    <div>
                        <label>Right Arm</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Left Forearm</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Right Forearm</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Left Hand</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Right Hand</label>
                        <input type="checkbox">
                    </div>
                </div>

                <div class="columns">
                    <div>
                        <label>Groin </label>
                        <input type="checkbox">
                     </div>
                    <div>
                        <label>Buttocks</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Left Thigh</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Right Thigh</label>
                        <input type="checkbox">
                    </div>
                </div>

                <div class="columns">
                    <div>
                        <label>Left Leg </label>
                        <input type="checkbox">
                     </div>
                    <div>
                        <label>Right Leg</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Left Foot</label>
                        <input type="checkbox">
                    </div>
                    <div>
                        <label>Right Foot</label>
                        <input type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div>
                        <label>Date Illness Began:</label>
                        <input type="date">
                    </div>
                    <div>
                        <label>Date Returned to Work:</label>
                        <input type="date">
                    </div>
                </div>

                <div class="row">
                    <div>
                        <label>Day Lost :</label>
                        <input type="text">
                    </div>
                    <div>
                        <label>and/or Day Charged :</label>
                        <input type="text">
                    </div>
                </div>
        </div>

         <!-- Cause of Accident -->
        <div class="section">
            <div class="section-title">Cause of Accident</div>

            <label> The Agency Involved :</label>
            <input type="text">

            <label>The Agency part Involved :</label>
            <input type="text">

            <div>
                <label>Accident Type :</label>
                    <select>
                        <option>Falls of persons</option>
                        <option>Falls of persons from heights</option>
                        <option>Falls of persons on the same level</option>
                        <option>Struck by falling objects</option>
                        <option>Slides and cave-ins</option>
                        <option>Collapse (buildings, walls, scaffolds, ladders, piles of goods)</option>
                        <option>Struck by falling objects during handling</option>
                        <option>Struck by falling objects, not elsewhere classified</option>
                        <option>Stepping on, striking against or struck by objects excluding falling objects</option>
                        <option>Stepping on objects</option>
                        <option>Striking against stationary objects (except impacts due to a previous fall)</option>
                        <option>Striking against moving objects</option>
                        <option>Struck by moving objects (including flying fragments and excluding falling objects particles)</option>
                        <option>Caught in or between objects</option>
                        <option>Caught in an object</option>
                        <option>Caught between a stationary object and a moving object</option>
                        <option>Caught between moving objects (except flying or falling objects)</option>
                        <option>Overexertion or strenuous movements</option>
                        <option>Overexertion in lifting objects</option>
                        <option>Overexertion in pushing or pulling objects</option>
                        <option>Overexertion in handling or throwing objects</option>
                        <option>Strenuous movements</option>
                        <option>Exposure to or contact with extreme temperatures</option>
                        <option>Exposure to heat (atmosphere or environment)</option>
                        <option>Exposure to cold (atmosphere or environment)</option>
                        <option>Contact with hot substances or objects</option>
                        <option>Contact with very cold substances or objects</option>
                        <option>Exposure to or contact with electric current</option>
                        <option>Exposure to or contact with harmful substances or radiations</option>
                        <option>Contact by inhalation, ingestion or absorption of harmful substances</option>
                        <option>Exposure to ionizing radiations</option>
                        <option>Exposure to radiations other than ionizing radiations</option>
                        <option>Other types of accident, not elsewhere classified, including accidents not classified for lack of sufficient data</option>
                        <option>Other types of accident, not elsewhere classified</option>
                        <option>Accidents not classified for lack of sufficient data</option>
                    </select>
            </div>

            <label>Unsafe Mechanical or Physical Condition :</label>
            <input type="text">

            <label>The Unsafe Act :</label>
            <input type="text">

            <label>Contributing Factor :</label>
            <input type="text">

        </div>

        <!-- ROOT CAUSE -->
        <div class="section">
            <div class="section-title">Root Cause Analysis</div>

            <label>Activity / Task :</label>
            <input type="text">

           <div>
                <label>Job Relevance : 
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>

            <div>
                <label>Equipment Condition : 
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>

                <label>If no, Why ? :</label>
                <input type="text">
            </div>

            <div>
                <label>Safeguard Provided ? : 
                        <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>

            <div>
                <label>Supervision Present ? : 
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>

                <label>If yes, indicate name and position ? :</label>
                <input type="text">
                <label>If no, why? :</label>
                <input type="text">
            </div>

            <div>
                <label>Work Instruction Available ? :
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>

            <div>
                <label>Training Recieved ? :
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>
            
            <div>
                <label>PPE Provied ? :
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>

            <div>
                <label>PPE used ? :
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>

            <div>
                <label>Contributing Factor : 
                    <div class="checkbox-group">
                        <label>Unsafe Act</label>
                        <input type="checkbox"> 
                        <label>Unsafe Condition</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>

            <div>
                <label>Inedequate Leadership or Supervision : </label>
                    <select>
                        <option>Giving inadequate policy, procedure, practices or guidelines</option>
                        <option>Inadequate work planning or programming</option>
                        <option>Improper or insufficient delegation</option>
                        <option>Unclear or conflicting assignment of responsibility</option>
                        <option>Inadequate instructions, orientation and/or training</option>
                        <option>Unclear or conflicting reporting relationships</option>
                        <option>Inadequate matching of individual qualifications and job/task requirements</option>
                        <option>Providing inadequate reference documents, directives and guidance publications</option>
                    </select>
            </div>

            <div>
                <label>Inedequate Engineering : </label>
                    <select>
                        <option>Inadequate monitoring of construction</option>
                        <option>Inadequate or improper controls</option>
                    </select>
            </div>

            <div>
                <label>Inedequate Purchasing : </label>
                    <select>
                        <option>Improper salvage and/or waste disposal</option>
                        <option>Inadequate receiving inspection and acceptance</option>
                        <option>Improper transporting of materials</option>
                        <option>Inadequate research on materials/equipment</option>
                        <option>Inadequate communication of safety and health data</option>
                        <option>Inadequate contractor selection</option>
                        <option>Inadequate specifications on requisitions</option>
                        <option>Inadequate identification of hazardous items</option>
                        <option>Inadequate specifications to vendors</option>
                    </select>
            </div>

            <div>
                <label>Inadequate Physical or Physiological Capability :</label>
                    <select>
                        <option>Hearing deficiency</option>
                        <option>Substance sensitivities or allergies</option>
                        <option>Inappropriate height, weight, size, strength, reach</option>
                        <option>Vision deficiency</option>
                        <option>Limited ability to sustain body positions</option>
                        <option>Restricted range of body movement</option>
                        <option>Sensitivities to sensory extremes (temperature, sound, etc.)</option>
                    </select>
            </div>

            <div>
                <label>Inadequate Mental or Psychological Capability :</label>
                    <select>
                        <option>Emotional disturbance</option>
                        <option>Poor judgement</option>
                        <option>Inability to comprehend</option>
                        <option>Slow reaction time</option>
                        <option>Low learning aptitude</option>
                        <option>Poor coordination</option>
                        <option>Low mechanical aptitude</option>
                    </select>
            </div>

            <div>
                <label>Physical or Physiological Stress :</label>
                    <select>
                        <option>Constrained movement</option>
                        <option>Fatigue due to sensory overload</option>
                        <option>Exposure to health hazards</option>
                        <option>Fatigue due to task load or duration</option>
                        <option>Exposure to temperature extremes</option>
                        <option>Injury or Illness</option>
                        <option>Fatigue due to lack of rest</option>
                        <option>Oxygen Deficiency</option>
                    </select>
            </div>

            <div>
                <label>Lack of Knowledge :</label>
                    <select>
                        <option>Inadequate initial training</option>
                        <option>Inadequate orientation</option>
                        <option>Inadequate update training</option>
                        <option>Lack of experience</option>
                        <option>Misunderstood directions</option>
                    </select>
            </div>

            <div>
                <label>Lack of Skill :</label>
                    <select>
                        <option>Inadequate initial instruction</option>
                        <option>Inadequate practice</option>
                        <option>Inadequate review instruction</option>
                        <option>Infrequent performance</option>
                        <option>Lack of coaching</option>
                    </select>
            </div>

        </div>

        <!-- Control/Preventive Measures -->
        <div class="section">
            <div class="section-title">Control/Preventive Measures</div>

            <label>Preventive Measures (taken or recommended):</label>
            <input type="text">
            <label>Mechanical guards, personal protective equipment and other safeguards</label>
            <input type="text">
            <div>
                <label>Were all safeguards in use? 
                    <div class="checkbox-group">
                        <label>Yes</label>
                        <input type="checkbox"> 
                        <label>No</label>
                        <input type="checkbox"> 
                    </div>
                </label>
            </div>

            <label>If not, Why?</label>
            <textarea></textarea>   

            <label>Control Instituted :</label>

            <div class="row">
                <div>
                    <label>Engineering : </label>
                    <input type="text">
                </div>
                <div>
                    <label>Cost :</label>
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div>
                    <label>Administrative: </label>
                    <input type="text">
                </div>
                <div>
                    <label>Cost :</label>
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div>
                    <label>PPE: </label>
                    <input type="text">
                </div>
                <div>
                    <label>Cost :</label>
                    <input type="text">
                </div>
            </div>
        </div>

        <!-- Manpower -->
        <div class="section">
            <div class="section-title">Manpower</div>

            <label>Compensation :</label>
            <input type="text">
            <label>Medical and Hospitalization :</label>
            <input type="text">
            <label>Burial :</label>
            <input type="text">   

            <label>Time Lost on Day of Injury :</label>
            <div class="row">
                <div>
                    <label>Hrs.</label>
                    <input type="text">
                </div>
                <div>
                    <label>Mins.</label>
                    <input type="text">
                </div>
            </div>

            <label>Time Lost on Subsequent Days  (treatment or other reasons) :</label>
            <div class="row">
                <div>
                    <label>Hrs.</label>
                    <input type="text">
                </div>
                <div>
                    <label>Mins.</label>
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div>
                    <label>Time on light work or reduced output : </label>
                    <input type="text">
                </div>
                <div>
                    <label>Days :</label>
                    <input type="text">
                </div>
            </div>
        </div>

        <!-- Machinery and Tools Materials -->
        <div class="section">
            <div class="section-title">Machinery and Tools Materials</div>

            <label>Damage to Machinery and Tools (Describe) :</label>
            <textarea></textarea>
            <label>Cost of repair or replacement :</label>
            <input type="text">
            
            <div class="row">
                <div>
                    <label>Lost Production Time :</label>
                    <input type="text">
                </div>
                <div>
                    <label>Cost :</label>
                    <input type="text">
                </div>
            </div>

            <label>Damage to Materials (Describe):</label>
            <textarea></textarea>
            <label>Cost of repair or replacement :</label>
            <input type="text">
            
            <div class="row">
                <div>
                    <label>Lost Production Time :</label>
                    <input type="text">
                </div>
                <div>
                    <label>Cost :</label>
                    <input type="text">
                </div>
            </div>
        </div>


        <!-- SUBMIT -->
        <div class="actions">
            <button type="submit" class="submit-btn">Submit</button>
            <button type="button" class="template-btn">Show Template</button>
        </div>

        </form>

    </main>
</div>

</body>
</html>
