* {
  box-sizing: border-box;
  h1 {
  color: #ffffff; /* white */
  font-family: "Poppins", sans-serif;
}
}

body {
  margin: 0;
  background: #ffffff;
}

.bar {
  height: 25px;
  background: #f2c200;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.card {
  background: #f2c200;
  width: 500px;
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon img {
  width: 200px;
  height: 200px;
  margin-bottom: 0px;
  
}



h1 {
  font-family: 'Poppins', sans-serif;
  margin: 20px 0 10px;
  font-size:40px;
}

.bold {
  font-weight: 650;
  color: rgb(255, 255, 255);
}

.light {
  font-weight: 400;
  color:rgb(255, 255, 255);
}

.login-box {
  background: #f6da73;
  padding: 20px;
  border-radius: 15px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-style: normal;
  color: rgb(100, 100, 100);
}


.forgot {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 15px;
  text-decoration: none;
}

.button {
  width: 120px;
  padding: 10px;
  background: #f2c200;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

